<VirtualHost *:80>
    ServerAdmin webmaster@domain2.dom
    DocumentRoot "/srv/http/domain2/"
    ServerName domain2.dom
    ServerAlias domain2.dom
    ErrorLog "/var/log/httpd/domain2.dom-error_log"
    CustomLog "/var/log/httpd/domain2.dom-access_log" common
</VirtualHost>

