<VirtualHost *:80>
    ServerAdmin webmaster@domain1.dom
    DocumentRoot "/srv/http/domain1/"
    ServerName domain1.dom
    ServerAlias domain1.dom
    ErrorLog "/var/log/httpd/domain1.dom-error_log"
    CustomLog "/var/log/httpd/domain1.dom-access_log" common
</VirtualHost>

